<!DOCTYPE html>
<html>

<head>
    <title>Sprenklerventil Kontroll Interface</title>
</head>

<body>
    <h1>Sprenklerventil Kontroll Interface v0.1</h1>
    <table>
        <thead>
            <tr>
                <th scope="col"> Nummer</th>
                <th scope="col"> Name</th>
                <th scope="col"> Zeitplan</th>
            </tr>
        </thead>
        <tbody>
            {{#each Valves}}
            <tr>
                <td>{{this.index}}</td>
                <td>{{this.name}}</td>
                <td><a href="./schedule/{{this.index}}">Zeitplan</a></td>
            </tr>

            {{/each}}
        </tbody>
    </table>
    <ul>

    </ul>
</body>

</html>