h1{
    text-align: center;
    text-decoration: underline;
}

body {
    background-color: lightblue;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Lucida Console', Courier, monospace;
}

table{
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
}

table, th, td{
    border: 3px solid black;
    text-align: center;
    padding: 10px;
}

.tablehead{
    background-color: rgb(54, 131, 161);
}

.tablebody{
    background-color: rgb(218, 218, 218);
}

.tablebody:hover{
    background-color: rgb(180, 180, 180);
}


