h1{
    text-align: center;}

body {
    background-color: lightblue;
    margin-right: auto;
    margin-left: auto;
}

table{
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
}

table, th, td{
    border: 2px solid black;
    text-align: center;
    padding: 10px;
}

.tbody tr:hover{
    background-color: gray;
}

