<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sprenklerventil Kontroll Interface</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>

</head>

<body>
    <h1>Sprenklerventil Kontroll Interface v0.1</h1>
    <table>
        <thead class="tablehead">
            <tr>
                <th scope="col"> Nummer</th>
                <th scope="col"> Name</th>
                <th scope="col"> Status</th>
                <th scope="col"> Betriebsmodus</th>
                <th scope="col"> Zeitplan</th>

            </tr>
        </thead>
        <tbody>
            {{#each valves}}
            <tr class="tablebody">
                <td>{{this.index}}</td>
                <td>{{this.name}}</td>
                <td>{{this.valve_status}}</td>
                <td>
                    <input type="radio" id="force_open" value="ForceOpen" name="automation_status" {{#ifeq
                        this.automation_status "ForceOpen" }} checked {{/ifeq}}>
                    <label for="force_open">Geöffnet</label><br />

                    <input type="radio" id="scheduled" value="Scheduled" name="automation_status" {{#ifeq
                        this.automation_status "Scheduled" }} checked {{/ifeq}}>
                    <label for="scheduled">Automatisch</label><br />

                    <input type="radio" id="force_closed" value="ForceClose" name="automation_status" {{#ifeq
                        this.automation_status "ForceClose" }} checked {{/ifeq}}>
                    <label for="force_closed">Geschlossen</label>
                </td>
                <td><a href="./valves/{{this.index}}">Zeitplan</a></td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</body>

</html>